# <font color='chocolate'>Introduction to Python Programming</font>

Welcome to this introductory Jupyter notebook on Python programming! Python is a versatile and beginner-friendly programming language widely used for a variety of applications. This notebook aims to provide you with a foundational understanding of Python concepts, syntax, and essential techniques. Whether you are a complete beginner or have some programming experience, this notebook will guide you through the basics and help you build a decent foundation in Python programming.

How to use this notebook?

Execute each cell by hitting the play button or cmd/ctrl + enter. \
You can view the Table of contents if you wish to navigate to a particular concept.

#### <font color='orange'>Basic Math Operators</font>

Using python as a calculator

In [ ]:
# Addition Let me try editing this
3 + 3

In [ ]:
'''Subtraction '''
3 - 4

In [ ]:
# Multiplication
3 * 4

In [ ]:
# Division
3 / 4

In [ ]:
# Integer division
3 // 4

In [ ]:
# Reminder
3 % 4

In [ ]:
# Follows the order of operations (PEMDAS) - multiplication first, then addition
8 + 2 * 10

In [ ]:
# Follows the order of operations (PEMDAS) - paranthesis first, then addition
(8 + 2) * 10

In [ ]:
# Power
3 ** 4

#### <font color='orange'>Variables</font>

There are certain rules about naming a variable:
1. You can't enclose it in quotation marks.
2. You can't have any spaces in it.
3. It can't be a number or begin with a number.
4. In addition, a variable can't be any of Python's reserved words,like print. Although, if a keyword is a part of the variable name, that's fine.
5. A variable name can contain only lowercase letters, uppercase letters, numbers, and underscores.
6. Capital letters are fine, but be careful. Variable names are case- sensitive. A rose with a lowercase r is not a Rose with an uppercase R. If you assign the string "Floribundas" to the variable rose, and then ask Python for the value assigned to Rose, you'll come up empty.

In [ ]:
# Assigns the string "Machine Learning" to the variable 'course'
course = "Machine Learning"

In [ ]:
# Prints the value of the variable 'course'
print(course)

In [ ]:
# Assigns the integer 2 to the variable 'num'
num = 2

course + num

In [ ]:
# Converts 'num' to a string using str() function and concatenates it with 'course'
course + " " + str(num)

In [ ]:
str(num)
#new_num_converted

In [ ]:
num

In [ ]:
# Adds 3 to 'num' and assigns the result to 'new_num'
new_num = num + 3
new_num

In [ ]:
age = 10
age = age + 1

In [ ]:
age

In [ ]:
age += 1

age

In [ ]:
print(age)

In [ ]:
print(age + 1)

In [ ]:
age

#### <font color='orange'>Strings</font>

In [ ]:
#Prints the string "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
# Assigns the string "Hello" to the variable 'greeting'
greeting = "Hello"
# Assigns the string " World" to the variable 'addressee'
addressee = " World"
# Concatenates 'greeting' and 'addressee'
whole_greeting = greeting + addressee

In [ ]:
print(whole_greeting)
a = 1
a

In [ ]:
print(whole_greeting)

In [ ]:
# Repeats the string 'hello ' two times
'hello '  * 2

In [ ]:
name = "Shruti"
name[0]

In [ ]:
# Accesses the last character in the string
name[-1]

In [ ]:
# Accesses the characters from index 0 to index 4 ( character at index 5 is not included)
name[:5]

In [ ]:
# Length of variable name of string data type
len(name)

In [ ]:
# Prints a formatted string that includes the value of the variable 'name'
print(f"Hello my name is {name}")

More string functions can be found here: https://docs.python.org/2/library/string.html#string-functions

#### <font color='orange'>Lists</font>

In [ ]:
# Creates a list named 'cities' that contains cities of data type string. Note: Lists can be a mixture of strings, numbers, and even another list or dictionary.
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle",2, 8.9, [1,'a', 2]]

In [ ]:
cities

In [ ]:
# Access the last element of cities list and in that, access the element at index 1
cities[-1][1]

In [ ]:
# Add "New York to the end of list cities"
cities.append("New York")

In [ ]:
# Temporarily adds "Dubuque" and "New Orleans" to cities list without modifying the original cities list
cities + ["Dubuque", "New Orleans"]
cities

In [ ]:
# Inserts the string "Mumbai" at index 2 in the 'cities' list.
cities.insert(2, "Mumbai")

In [ ]:
# Creates a new list 'smaller_list_of_cities' by slicing the 'cities' list from index 2 to index 4 (excluding index 5).
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

In [ ]:
# Deletes the element at index 0 from the 'cities' list.
del cities[0]
cities

In [ ]:
# Removes the first occurrence of the string 'Chicago' from the 'cities' list.
cities.remove('Chicago')
cities

In [ ]:
# Removes and returns the last element from the 'cities' list, assigning it to the variable 'last_city'.
last_city = cities.pop(-1)
print(last_city)
print(cities)

#### <font color='orange'>Dictionaries</font>#

In [ ]:
# Creates a dictionary called car with keys "brand", "model", and "year", and corresponding values.
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [ ]:
print(car["brand"])  # Outputs: Ford

In [ ]:
# Change the calue of year in the dictionary car
car["year"] = 2023

In [ ]:
car

In [ ]:
# If the key color is not present in the dictionary, create the key color with the value red
car["color"] = "red"
car

In [ ]:
# If the key color is present in the dictionary, change it to purple, else, create the key color and assign the value purple to it
car["color"] = "purple"

In [ ]:
car

In [ ]:
'''
This loop essentially prints each key present in the car dictionary on separate lines.
The loop iterates through each key and, within each iteration,
the print() function is used to output the value of the key.
'''

for key in car:
  print(key)

NameError: ignored

In [ ]:
'''
The loop iterates through each value and, within each iteration, the print() function is used to output the value.
This loop essentially prints each value present in the car dictionary on separate lines.
'''
for value in car.values():
  print(value)

In [ ]:
car

In [ ]:
'''
The loop iterates through each key-value pair, and within each iteration,
the print() function is used to output a formatted string that includes both the key and value of the current pair.
This loop essentially prints each key-value pair from the car dictionary on separate lines,
with the key and value labeled in the output.
'''
for key, value in car.items():
    print(f"The key is '{key}' and the value is '{value}'")

In [ ]:
participants = {"Ram": [25,'male'], "Sita": [22,'female']}
for name,value in participants.items():
  print(f"The name is {name} and the gen is '{value[1]}'")

In [ ]:
participants.keys()

In [ ]:
for blah1,blah2 in participants.items():
  print(blah1)
  print(blah2)

#### <font color='orange'>If Else Statements</font>#

We will now go over conditional statements using an if-else construct. The code checks the value of the variable ladoo_state. If ladoo_state is equal to the string 'fresh', it will execute the code block inside the if statement, which prints the message 'buy them all'. If ladoo_state is not equal to 'fresh', it will execute the code block inside the else statement, which prints the message "don't buy". The condition is used to determine which message to print based on the value of ladoo_state

In [ ]:
ladoo_state = 'stale'

In [ ]:
print(ladoo_state)

stale

In [ ]:
# Checks the value of the variable 'ladoo_state'. If it is equal to 'fresh', prints 'buy them all'. Otherwise, prints "don't buy".

if ladoo_state == 'fresh':
  print('buy them all')
else:
  print("don't buy")

don't buy

In [ ]:
if ladoo_state == " very fresh":
  print("Buy them all!!!")
elif ladoo_state == 'fresh':
  print("Buy few")
else:
  print("Don't buy")

Buy few

#### <font color='orange'>Functions</font>

A function is a named block of reusable code that performs a specific task or calculation. Functions are designed to help organize code into logical units, promote code reusability, and make programs more modular.

To define a function, you typically use the def keyword followed by the function name and parentheses. Any input parameters (also known as arguments) are listed inside the parentheses

In [ ]:
add_numbers()

In [ ]:
# Defines a function named 'add_numbers' that adds two numbers (8 and 3) and returns the total.
def add_numbers():
  first_number = 8
  second_number = 3
  total = first_number + second_number
  return total

In [ ]:
output = add_numbers()

In [ ]:
output

11

In [ ]:
add_numbers()

11

More about the input parameters.
Input parameters, also known as arguments, are variables that you can define within the parentheses of a function definition. They allow you to pass data into the function, enabling the function to work with specific values or information.

When defining a function, you can specify the input parameters that the function expects. These parameters act as placeholders for the values that will be passed into the function when it is called. You can then use these parameters within the function's code block to perform calculations, manipulate data, or carry out other operations

In [ ]:
def greet(name, age):
    print("Hello, " + name + "! You are " + str(age) + " years old.")

When calling a function that has input parameters, you provide the arguments in the same order as the parameter definition. Here's an example:

In [ ]:
greet("Alicia", 25)

Hello, Alicia! You are 25 years old.

In this case, the function greet() is called with the arguments "Alice" and 25. The function then uses these values to print the greeting message, incorporating the provided name and age.

It's worth noting that input parameters can have default values. By assigning a default value to a parameter in the function definition, you make it optional to provide an argument for that parameter when calling the function. If no argument is provided, the default value will be used. Here's an example:

In [ ]:
def greet(name, age=30):
    print("Hello, " + name + "! You are " + str(age) + " years old.")

In this updated greet() function, the age parameter has a default value of 30. If the age argument is not provided when calling the function, it will default to 30. However, if an argument is provided, the provided value will be used instead.

Using input parameters in functions allows for flexibility and customization. By accepting different values through arguments, you can reuse the same function with varying inputs, making your code more versatile and adaptable to different scenarios.

# <font color='chocolate'>Exercise</font>

Two students in a class are learning Python, Math and English. As a teacher, I'm interested in knowing the following:
1. Class average
2. Class topper
3. Highest marks scored by the individual student and the subject

Can you write a python program to help her out?

In [ ]:
""" Our initial data is a dictionary where each student's name is a key and the values are
another dictionary with each subject as a key and the marks as values. """

student_marks = {
    "Student1": {"Python": 85, "Math": 90, "English": 95},
    "Student2": {"Python": 78, "Math": 88, "English": 92},
}

# This function calculates the average, finds the student with the highest average, and finds the highest mark for each student.
def calculate_average_topper_and_highest(student_marks):
    # Create an empty dictionary to store the highest mark for each student.
    highest_marks_per_student = {}

    # Go through each student and their marks.
    for student, subjects in student_marks.items():
        # Calculate the total marks for this student.
        total_marks = sum(subjects.values())
        #print(subjects.values())
        #print(f"total_marks by {student} : {total_marks}")

        # Calculate the average marks for this student.
        average_marks = total_marks / len(subjects)
        #print(len(subjects))

        # Store the average marks back in the dictionary.
        student_marks[student]["Average"] = average_marks
        #print(f"Student marks: {student_marks}")

        # Find the highest mark for this student and store it along with the corresponding subject in the highest_marks_per_student dictionary.
        highest_mark = max(subjects.values())
        for subject, mark in subjects.items():
            if mark == highest_mark:
                highest_marks_per_student[student] = {"mark": highest_mark, "subject": subject}
        #print(highest_marks_per_student)

    # Calculate the class average by summing all averages and dividing by the number of students.
    class_average = sum([marks["Average"] for marks in student_marks.values()]) / len(student_marks)

    # Find the student with the highest average. We do this by finding the maximum value of the "Average" for all students.
    class_topper = max(student_marks, key=lambda student: student_marks[student]["Average"])

    return class_average, class_topper, highest_marks_per_student

# Call our function with the student_marks data.
class_average, class_topper, highest_marks_per_student = calculate_average_topper_and_highest(student_marks)

# Finally, print out the results.
print(f"Class Average: {class_average}")
print(f"Class Topper: {class_topper}")
for student, highest_mark_info in highest_marks_per_student.items():
    print(f"Highest mark for {student}: {highest_mark_info['mark']} in {highest_mark_info['subject']}")

Class Average: 88.0
Class Topper: Student1
Highest mark for Student1: 95 in English
Highest mark for Student2: 92 in English

Notice how it'a a bit complicated. This code can be simplified and be made more intuitive if we use pandas.

In [ ]:
import pandas as pd

# Initial data as a pandas DataFrame
student_marks = pd.DataFrame({
    "Python": {"Student1": 85, "Student2": 78},
    "Math": {"Student1": 90, "Student2": 88},
    "English": {"Student1": 95, "Student2": 92},
})
print(student_marks)

# Calculate the average marks for each student
student_marks['Average'] = student_marks.mean(axis=1)
#print(student_marks)

# Calculate the class average
class_average = student_marks['Average'].mean()
#print(class_average)

# Find the student with the highest average
class_topper = student_marks['Average'].idxmax()
#print(class_topper)

# Find the subject and the mark where each student achieved their highest mark
#print(student_marks)
highest_marks_per_student = student_marks.drop('Average', axis=1).idxmax(axis=1)
highest_marks = student_marks.drop('Average', axis=1).max(axis=1)

# Print out the results
print(f"Class Average: {class_average}")
print(f"Class Topper: {class_topper}")

for student in highest_marks_per_student.index:
    print(f"Highest mark for {student}: {highest_marks[student]} in {highest_marks_per_student[student]}")

In [ ]:
import pandas as pd
student_marks = pd.DataFrame({
    "Python": {"Student1": 85, "Student2": 78},
    "Math": {"Student1": 90, "Student2": 88},
    "English": {"Student1": 95, "Student2": 92},
})
print(student_marks)

          Python  Math  English
Student1      85    90       95
Student2      78    88       92

In [ ]:
student_marks

          Python  Math  English
Student1      85    90       95
Student2      78    88       92

In [ ]:
student_marks.sum()

Python     163
Math       178
English    187
dtype: int64

In [ ]:
student_marks.sum(axis=1)

Student1    270
Student2    258
dtype: int64

In [ ]:
student_marks.mean(axis =0)

Python     81.5
Math       89.0
English    93.5
dtype: float64

In [ ]:
def sum(a,b):
  return a + b

In [ ]:
sum(1,2)

3